We have two datasets, one for white wine and one for red wine.

We have a bunch of features for each wine, such as fixed acidity, free sulfur dioxide, alcohol and etc.

**We want to predict wine category given features**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

### Import and preprocess the data

In [2]:
# Read in white wine data
white = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep=';')
# Read in red wine data
red = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=';')

#preprocessing data
# Add an additional column ‘type’. Value of red wine is 1 and white wine is zero
red['type'] = 1
white['type'] = 0
# Append the two dataset together
wines = red.append(white, ignore_index=True)

In [3]:
wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

### Specify dataset and split into training/validation dataset

In [4]:
# Specify the data
X=wines.iloc[:,0:11]
# Specify the target labels and flatten the array
y= np.ravel(wines.type)
# Split the data up in train and test sets
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

### Scale the dataset

In [5]:
# Define the scaler
scaler = StandardScaler().fit(X_train)
# Scale the train set
X_train= scaler.transform(X_train)
# Scale the test set
X_test= scaler.transform(X_test)

### Construct deep neural network

In [6]:
# Initialize the constructor, which creates a linear stack of layers
model = Sequential()

In [7]:
# Add hidden layer 1 with an input layer
model.add(Dense(12, activation='relu', input_shape=(11,)))

### Construct deep neural network

In [8]:
# Add 2ndhidden layer
model.add(Dense(8, activation='relu'))
# Add an output layer
model.add(Dense(1, activation='sigmoid'))

### Summary about the deep learning model

In [9]:
# Model output shape
model.output_shape

(None, 1)

In [10]:
# Model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                144

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 257
Trainable params: 257
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Model config
model.get_config()

{'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'name': 'dense_input',
    'ragged': False,
    'sparse': False}},
  {'class_name': 'Dense',
   'config': {'activation': 'relu',
    'activity_regularizer': None,
    'batch_input_shape': (None, 11),
    'bias_constraint': None,
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_regularizer': None,
    'dtype': 'float32',
    'kernel_constraint': None,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'kernel_regularizer': None,
    'name': 'dense',
    'trainable': True,
    'units': 12,
    'use_bias': True}},
  {'class_name': 'Dense',
   'config': {'activation': 'relu',
    'activity_regularizer': None,
    'bias_constraint': None,
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_regularizer': None,
    'dtype': 'float32',
    'kernel_constraint': None,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'kernel_regularizer': None,
    'name': 'dense_1',
    'trainable': True,
    'units': 8,
    'use_bias': True}},
  {'class_name': 'Dense',
   'config': {'activation': 'sigmoid',
    'activity_regularizer': None,
    'bias_constraint': None,
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_regularizer': None,
    'dtype': 'float32',
    'kernel_constraint': None,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'kernel_regularizer': None,
    'name': 'dense_2',
    'trainable': True,
    'units': 1,
    'use_bias': True}}],
 'name': 'sequential'}

In [12]:
# List all weight tensors
model.get_weights()

[array([[ 0.47146064,  0.05119932, -0.28229493,  0.20067775, -0.30286682,
          0.04556751,  0.29268295, -0.09223312, -0.34381783,  0.10773617,
         -0.50352854, -0.06318495],
        [-0.11292458,  0.08269852, -0.2812276 , -0.38850665, -0.25806266,
          0.03573632, -0.24551249, -0.10098764,  0.0023905 ,  0.14156622,
         -0.0141302 ,  0.21317685],
        [-0.14187568, -0.49433646,  0.20138747,  0.33762628, -0.4248299 ,
          0.30257142, -0.20322356, -0.19053662, -0.06896979,  0.3772335 ,
          0.15596396, -0.33300644],
        [ 0.06453031,  0.25170648, -0.11679879, -0.37570107, -0.5063907 ,
          0.4997651 ,  0.12630928,  0.28874224,  0.00759327,  0.34306234,
         -0.42542657,  0.43981653],
        [-0.42533976, -0.37483382,  0.06252277, -0.38589874, -0.27369505,
         -0.43524978, -0.00052667, -0.490863  ,  0.50294536, -0.30390286,
         -0.3110618 ,  0.07624024],
        [ 0.3524189 ,  0.11951458,  0.26565963,  0.24208397, -0.21152934,
          0.24167955, -0.22147483, -0.26166704, -0.24967372,  0.44881713,
          0.14589626, -0.2066505 ],
        [ 0.20056498,  0.3559562 , -0.0889658 , -0.36745596, -0.1299167 ,
         -0.13354054,  0.15469825,  0.05235749,  0.17769992, -0.5097683 ,
         -0.26463258,  0.5048316 ],
        [ 0.3872229 , -0.1605143 , -0.44375905,  0.36129224, -0.08119011,
          0.2709816 , -0.46439475, -0.31744283, -0.50934196,  0.41739976,
         -0.09270826,  0.30400318],
        [ 0.39284968, -0.09931338, -0.24566054,  0.11056828, -0.12365803,
          0.11148763, -0.07904288, -0.3932491 , -0.4858978 , -0.15827486,
         -0.07630846,  0.36906618],
        [ 0.4330576 , -0.15231931, -0.14769071,  0.03067178, -0.07403168,
         -0.034998  ,  0.2039882 ,  0.22923994,  0.43395007,  0.2761252 ,
         -0.42161995, -0.31268856],
        [ 0.34960973, -0.06368837, -0.50740343,  0.43650955,  0.03914106,
         -0.3631189 , -0.24005473,  0.3500201 , -0.4295335 ,  0.08621144,
          0.05841804,  0.30688214]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.18430313,  0.14043051, -0.29476035, -0.03560072, -0.42802605,
          0.2896003 ,  0.03506148,  0.34679037],
        [ 0.49164903,  0.17337966, -0.11324015, -0.41170487, -0.06562948,
          0.10935557,  0.13619518, -0.14125347],
        [-0.08571774,  0.34927344, -0.4482634 ,  0.02096593,  0.11725634,
         -0.13351214,  0.23947608, -0.3798711 ],
        [ 0.2664156 , -0.3017922 ,  0.22034335,  0.29981887,  0.2983451 ,
          0.518623  ,  0.34591317,  0.24017733],
        [-0.5279658 , -0.07375529,  0.211882  ,  0.23441964,  0.4308927 ,
         -0.4674754 ,  0.46018255, -0.3083349 ],
        [ 0.01066673, -0.24791753, -0.3635575 , -0.06014377,  0.5210899 ,
         -0.33532557, -0.5365529 , -0.15518323],
        [ 0.49300086,  0.36106092,  0.11348695, -0.04841954, -0.05173787,
         -0.11843807,  0.0121156 , -0.2354646 ],
        [ 0.24851549,  0.10727912, -0.02123207, -0.26593515, -0.3458646 ,
         -0.34168124, -0.48144722, -0.18414512],
        [ 0.5018772 ,  0.32355303, -0.28502858, -0.28380734, -0.24196902,
          0.2293967 ,  0.10368001, -0.11713648],
        [-0.18951538, -0.07528993,  0.4043941 ,  0.04111803, -0.2448875 ,
          0.4289688 , -0.16874483,  0.488747  ],
        [-0.055004  ,  0.21877998,  0.05048478,  0.13915092,  0.00948066,
         -0.18450513,  0.27702814, -0.43516877],
        [ 0.38485247,  0.4589362 , -0.4448205 , -0.34768802,  0.33903766,
         -0.31008095, -0.1262089 , -0.30108613]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.36179644],
        [-0.3676832 ],
        [-0.22526276],
        [-0.44551146],
        [ 0.80335534],
        [ 0.10202587],
        [-0.64178735],
        [ 0.3991518 ]], dtype=float32),
 array([0.], dtype=float32)]

### Estimate the model

In [13]:
# if it is regression problem, you use mean squared error
# if it is binary classification, use binary crossentroy
# if it is multi-class classification, use categorical crossentropy

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train,epochs=10, batch_size=1)

Epoch 1/10
5197/5197 - 13s - loss: 0.0666 - accuracy: 0.9798 - 13s/epoch - 2ms/step
Epoch 2/10
5197/5197 - 8s - loss: 0.0218 - accuracy: 0.9960 - 8s/epoch - 2ms/step
Epoch 3/10
5197/5197 - 6s - loss: 0.0194 - accuracy: 0.9962 - 6s/epoch - 1ms/step
Epoch 4/10
5197/5197 - 6s - loss: 0.0173 - accuracy: 0.9965 - 6s/epoch - 1ms/step
Epoch 5/10
5197/5197 - 6s - loss: 0.0159 - accuracy: 0.9971 - 6s/epoch - 1ms/step
Epoch 6/10
5197/5197 - 6s - loss: 0.0157 - accuracy: 0.9967 - 6s/epoch - 1ms/step
Epoch 7/10
5197/5197 - 6s - loss: 0.0132 - accuracy: 0.9975 - 6s/epoch - 1ms/step
Epoch 8/10
5197/5197 - 9s - loss: 0.0139 - accuracy: 0.9969 - 9s/epoch - 2ms/step
Epoch 9/10
5197/5197 - 6s - loss: 0.0135 - accuracy: 0.9975 - 6s/epoch - 1ms/step
Epoch 10/10
5197/5197 - 6s - loss: 0.0136 - accuracy: 0.9971 - 6s/epoch - 1ms/step

In [14]:
y_pred= model.predict(X_test)

In [15]:
score = model.evaluate(X_test, y_test)
print(score)

41/41 [==============================] - 0s 1ms/step - loss: 0.0250 - accuracy: 0.9954
[0.025030339136719704, 0.9953846335411072]

Image Classification example: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/images/classification.ipynb