# constant

In [1]:
print(123)

123

In [2]:
print(87.2)

87.2

In [3]:
print("lecture 2")

lecture 2

# variable

In [7]:
x = 2.5
y = 10

In [8]:
print(x, y)

2.5 10

In [9]:
x = 2.555
print(x, y)

2.555 10

### wrong variable name

In [10]:
32smith = 'hello world'   #must start with a letter or underscore

SyntaxError: invalid syntax (<ipython-input-10-c91dd322161f>, line 1)

In [11]:
class = 27  # can not use reserved words

SyntaxError: invalid syntax (<ipython-input-11-7770a387218c>, line 1)

In [4]:
# You can always get the list of keywords in your current version by typing the following in the prompt.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## variable type: string

In [2]:
str= 'HelloWorld!'

# Prints complete string
print(str)

HelloWorld!

In [3]:
# Prints first character of the string
print(str[0])

H

In [4]:
# Prints characters starting from 3rd to 5th 
print(str[2:5])

llo

In [5]:
# Prints string starting from 3rd character
print(str[2:])

lloWorld!

## variable type: list

In [6]:
list_example = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

# Prints complete list
print(list_example)

['abcd', 786, 2.23, 'john', 70.2]

In [7]:
# Prints firstelement of the list
print(list_example[0])

abcd

In [8]:
# Prints elements starting from 2nd till 3rd 
print(list_example[1:3])

[786, 2.23]

In [9]:
# Prints elements starting from 3rd element
print(list_example[2:])

[2.23, 'john', 70.2]

In [24]:
print(list_example[-1])

70.2

In [26]:
print(list_example[1:-1])

[786, 2.23, 'john']

In [27]:
list_example[0:2] = 'z'
print(list_example)

['z', 2.23, 'john', 70.2]

## variable type: Tuples

In [10]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')

In [11]:
print(tuple)# Prints complete list

('abcd', 786, 2.23, 'john', 70.2)

In [12]:
print(tuple[0])# Prints firstelement of the list

abcd

In [13]:
print(tuple[1:3])# Prints elements starting from 2nd till 3rd

(786, 2.23)

In [14]:
print(tuple[2:])# Prints elements starting from 3rd element

(2.23, 'john', 70.2)

In [15]:
# Error: can not change elements and size in tuples
tuple[0:2] = 'z'
print(tuple)

TypeError: 'tuple' object does not support item assignment

## get variable type

In [33]:
type('Hello, world!')

str

In [34]:
type(17)

int

In [35]:
type(3.2)

float

In [36]:
type('4.7')

str

### Type matters

In [37]:
# Error: can not add a string to an integer

a = '123'
b = a + 1

TypeError: can only concatenate str (not "int") to str

In [16]:
a = 123
b = a + 1
print(b)

124

In [17]:
print(a/b)

0.9919354838709677

In [18]:
print(b/2)

62.0

### Type conversion

In [41]:
i = 42
type(i)

int

In [42]:
f = float(i)
print(f)
type(f)

42.0

float

In [19]:
print(1 + 2 * 3 / 4 - 5)

-2.5

In [20]:
print(int(1 + 2 * 3 / 4 - 5))

-2

### string conversion

In [47]:
sval = '123'
type(sval)

str

In [48]:
print(sval + 1)

TypeError: can only concatenate str (not "int") to str

In [49]:
ival = int(sval)
type(ival)

int

In [50]:
print(ival+ 1)

124

In [52]:
nsv = 'bob123'
niv = int(nsv)

ValueError: invalid literal for int() with base 10: 'bob123'

## User input

In [1]:
name = input("What's your name?")

What's your name?Tengteng

In [2]:
print('Welcome', name)

Welcome Tengteng

In [3]:
inp= input('Europe floor?')

Europe floor?4

In [4]:
usf = int(inp) + 1

In [5]:
print('US floor', usf)

US floor 5

### Module operator

In [7]:
isdivisible = 6 % 3
print(isdivisible)

0

In [8]:
isdivisible = 7 % 3
print(isdivisible)

1

In [9]:
lasttwodigits = 123491 % 100
print(lasttwodigits)

91

In [11]:
lastonedigits = 123491 % 10
print(lastonedigits)

1

### Comparison operator

In [27]:
x = 10
y = 20

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

### Logical operators

In [28]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

### Membership operators

In [29]:
x = 'Hello world'

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

True
True

### Identity operators

In [37]:
x1 = 5
y1 = 5

x2 = 'Hello'
y2 = 'Hello'

x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False
True

Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. Same is the case with x2 and y2 (strings).

But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

### Operator precedence

In [38]:
x = 6
x = 4 * x ** (8 - x)
print(x)

144