List constant

In [1]:
list_1 = [1, 23,45]
list_2 = ['red','blue']
list_3 = [25,'green']
list_4 = [1,[3,4],37]

print(list_1)
print(list_2)
print(list_3)
print(list_4)

[1, 23, 45]
['red', 'blue']
[25, 'green']
[1, [3, 4], 37]

Accessing elements using index

In [2]:
x = [1,3,45,10]
print(x[0])
print(x[1])
print(x[-1])
print(x[-3])

1
3
10
3

List length

In [3]:
numbers1 = [1, 3, 45, 10]
print(len(numbers1))

4

In [4]:
numbers2 = [1, [3, 45], 10]
print(len(numbers2))

3

Lists are mutable

In [5]:
x = [1,3,45,10]
x[2] = 33
print(x)

[1, 3, 33, 10]

The range function

In [6]:
for i in range(4):
    print(i)

0
1
2
3

In [7]:
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [8]:
for i in range(4,1):
    print(i)

List membership

In [9]:
fruit = ['apple','banana','orange']
print('banana' in fruit)

True

In [10]:
x = [3,4,5,6,7,8]
print(7 not in x)

False

List and loop

In [11]:
x = range(3,6)
sum1 = 0.0
for i in x:
    sum1 += i
avg = sum1/len(x)
print("average is: ", avg)

average is:  4.0

In [12]:
x = range(3,6)
sum2 = 0.0
i = 0
while i<len(x):
    sum2 += x[i]
    i = i+1
avg = sum2/len(x)
print("average is: ", avg)

average is:  4.0

list operations

In [13]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [14]:
d = ['x','y']
e = a + d
print(e)

[1, 2, 3, 'x', 'y']

In [15]:
a = [9,41,12,3,77,19]
print(a[1:3])

[41, 12]

In [16]:
print(a[:4])

[9, 41, 12, 3]

In [17]:
print(a[3:])

[3, 77, 19]

In [18]:
a = [9,41,12,3,77,19]
a[1:3] = []
print(a)

[9, 3, 77, 19]

In [19]:
del a[1]
print(a)

[9, 77, 19]

In [20]:
del a[:2]
print(a)

[19]

List append method

In [21]:
a = list()
print(a)

[]

In [22]:
a.append('book')
a.append(30)
print(a)

['book', 30]

list sort method

In [41]:
a = ['Joseph','Glenn','Sally']
a.sort()
print(a)

['Glenn', 'Joseph', 'Sally']

In [42]:
a = ['Joseph','Glenn','Sally']
a.sort(reverse=True)
print(a)

['Sally', 'Joseph', 'Glenn']

List reverse method

In [1]:
a = ['Joseph','Glenn','Sally']
a.reverse()
print(a)

['Sally', 'Glenn', 'Joseph']

Some built-in functions

In [25]:
a = [3,44,13,11,77,15]
print(len(a))

6

In [26]:
print(max(a))

77

In [27]:
print(min(a))

3

In [28]:
print(sum(a))

163

In [29]:
print(sum(a)/len(a))

27.166666666666668

List exercise: Request several input from users, and then calculate the average of user inputted numbers.

In [31]:
numList = list()
while True:
    inp1= input('Enter a number: ')
    if inp1== 'done':
        break
    value = float(inp1)
    numList.append(value)
average = sum(numList) / len(numList)
print('Average: ',average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: done
Average:  5.0

Matrices

In [32]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1])

[4, 5, 6]

In [33]:
print(matrix[1][2])

6

Tuples

In [34]:
tuple1 = 'a','b','c'
print(tuple1)

('a', 'b', 'c')

In [35]:
tuple2 = ('a','b',1)
print(tuple2)

('a', 'b', 1)

In [36]:
tuple2[2] = 5 #immutable

TypeError: 'tuple' object does not support item assignment

Things NOT to do with tuples

In [37]:
x = (3, 2, 1)
x.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [38]:
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
x.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

Tuple with a single element

In [48]:
tuple1 = ('a',)

Tuple replace

In [47]:
tuple1 = ('a','b','c')
tuple1 = ('A',) + tuple1[1:]
print(tuple1)

('A', 'b', 'c')

Tuple and assignment

In [50]:
(x, y) = (4,'hello')
print(y)

hello

In [51]:
a, b = (1,7)
a, b = b, a
print(a)

7

Compare tuples

In [52]:
(0, 1, 2) < (0, 1, 3)

True

In [53]:
(0, 1, 2000) < (0, 2, 2)

True

In [54]:
('Joseph','Glenn','Sally') > ('Glenn','Sally')

True

random number

In [12]:
import random
x = random.random()
print(x)

0.6090977442877039

In [15]:
y = random.randint(1,8)
print(y)

6

Dictionaries

In [58]:
eng2sp = {}
eng2sp = dict()

In [59]:
ddd = dict()
ddd['age'] = 21
ddd['score'] = 90
print(ddd)

{'age': 21, 'score': 90}

In [60]:
ddd['age'] = 23
print(ddd)

{'age': 23, 'score': 90}

In [61]:
eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
print(eng2sp)

{'one': 'uno', 'two': 'dos'}

Dictionaries have no orders

In [62]:
purse = {}
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [64]:
print(purse['candy']) #use keys to extract elements

3

In [65]:
purse['candy'] = purse['candy'] + 2  #use keys to change value
print(purse)

{'money': 12, 'candy': 5, 'tissues': 75}

Dictionary operations

In [66]:
ddd = dict()
ddd['age'] = 21
ddd['score'] = 90
print(ddd)

{'age': 21, 'score': 90}

In [67]:
del ddd['age']
print(ddd)

{'score': 90}

In [68]:
print(ddd['course']) # no key name 'course', error

KeyError: 'course'

dictionary methods

In [69]:
ddd = {'age':21,'score':90}
ddd.keys()

dict_keys(['age', 'score'])

In [70]:
ddd.values()

dict_values([21, 90])

In [71]:
ddd.items()

dict_items([('age', 21), ('score', 90)])

In [73]:
'age' in ddd

True

count frequency example

In [74]:
counts = dict()
names = ['csev','cwen','csev','zqian','cwen']
for name in names:
    counts[name] = counts.get(name,0) + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [75]:
counts = dict()
names = ['csev','cwen','csev','zqian','cwen']
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name] = counts[name] + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

Iterate dictionaries

In [82]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for i in a_dict:
    print(i)

color
fruit
pet

In [83]:
for i in a_dict.keys():
    print(i)

color
fruit
pet

In [84]:
for i in a_dict.values():
    print(i)

blue
apple
dog

In [85]:
for i in a_dict.items():
    print(i)

('color', 'blue')
('fruit', 'apple')
('pet', 'dog')

In [86]:
statesAndCapitals = { 
                     'Gujarat' : 'Gandhinagar', 
                     'Maharashtra' : 'Mumbai', 
                     'Rajasthan' : 'Jaipur', 
                     'Bihar' : 'Patna'
                    } 
                      
print('List Of given states and their capitals:\n') 
  
# Iterating over values 
for state, capital in statesAndCapitals.items(): 
    print(state, ":", capital)

List Of given states and their capitals:

Gujarat : Gandhinagar
Maharashtra : Mumbai
Rajasthan : Jaipur
Bihar : Patna